<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(SaleStore.BlazorSpa.Shared.MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(SaleStore.BlazorSpa.Shared.MainLayout)">
            <div class="container py-5">
                <h1 class="h4">Khong tim thay trang</h1>
                <a class="btn btn-primary mt-3" href="/spa">Quay lai SPA</a>
            </div>
        </LayoutView>
    </NotFound>
</Router>
